<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>petit predict</title>
</head>
<body>
    <form action="/calc" method="post">
        <h1>👾📈外国人の人口を予測するよ📈👾</h1>
        <br>
        <input type="text" name="num1" placeholder="県内総人口(人)">
        <br>
        <input type="text" name="num2" placeholder="県内総生産額">
        <br>
        <h5>県内総生産額：県内にある事業所の生産活動によって生み出された生産物の総額</h5>
        <input type="submit" value="送信">
    </form>
</body>
</html>